# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]

# Base de datos local
db.sqlite3

# Archivos de configuración local
.env

# Archivos de log
*.log

# Archivos de traducción
*.pot

# Archivos estáticos y medios generados
staticfiles/
media/

# Archivos de migración innecesarios
*.mo

# Archivos del sistema
.DS_Store
Thumbs.db
