body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    width: 700px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form p {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="date"],
.login-form input[type="time"],
.login-form select {
    width: 80%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    margin-top: -10px;
}

.botones button,
.botones a {
    width: 30%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    vertical-align: middle;
    /*line-height: 40px;  misma altura que el botón */
}

.botones button {
    background-color: #4CAF50;
    color: #fff;
}

.botones a {
    background-color: #ccc;
    color: #333;
    text-decoration: none;
}

.botones button:hover {
    background-color: #3e8e41;
}

.botones a:hover {
    background-color: #aaa;
}

.alert {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages li {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
}

.errorlist li {
    background-color: #f44336;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f44336;
}

.login-small {
    width: 400px;
}

.btn-ingresar {
    width: 30%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    display: block;
    margin: 0 auto;
}

.alert-success {
    background-color: #d4edda;
    color: #086d20;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}


